.list-item h2 {
    text-align: center;
}
img {
    float: left;
}

@media only screen and (max-width: 768px) {
    .list-item p {
        text-align: center;
    }

    .desc {
        margin-bottom: 200px;
        
    }

}

@media only screen and (max-width: 1024px) {


    .desc {
        margin-bottom: 200px;
        
    }

    .info {
        text-align: center;
    }

}


